.App {
  display: block;
  text-align: center;
  border: 2px solid greenyellow;
  border-radius: 10px;
  width: 200px;
  height: max-content;
  background-color: green;
}
.counter {

}
.button{
  margin-bottom: 10px;
}
.setter {
  display: flex;
}

.setter input {
  width: 30px;
}
.count {
  margin-top: 15px;
  margin-bottom: 20px;
}
.error {
  margin-top: 15px;
  margin-bottom: 20px;
  color: red;
}
.setter input {
  height: 20px;
}