.App {
  display: block;
  text-align: center;
  border: 2px solid greenyellow;
  border-radius: 10px;
  width: 200px;
  height: max-content;
  background-color: green;
}
.counter {

}
.button{
  margin-bottom: 10px;
}
